[submodule "solid-octo-broccoli"]
	path = solid-octo-broccoli
	url = git@github.com:UP2022742/solid-octo-broccoli.git
[submodule "mcrrobinson.github.io"]
	path = mcrrobinson.github.io
	url = git@github.com:UP2022742/mcrrobinson.github.io.git
	branch = go
[submodule "aspiring-diamond"]
	path = aspiring-diamond
	url = git@github.com:UP2022742/aspiring-diamond.git
[submodule "literate-octo-guacamole"]
	path = literate-octo-guacamole
	url = git@github.com:UP2022742/literate-octo-guacamole.git
