global
  log stdout format raw local0
  daemon

  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL).
  ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull

frontend http
    bind *:80
    mode http

frontend https
    bind *:443 ssl crt /usr/local/etc/certs/
    http-response set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;"
    
    acl url_ryan_air_api path_beg -i /api/flights
    acl url_ryan_air_api path_beg -i /flights
    use_backend proxy_ryan_air_api if url_ryan_air_api

    acl url_steam_compare_web path_beg -i /compare
    use_backend proxy_steam_compare_web if url_steam_compare_web

    acl url_steam_compare_api path_beg -i /user/name/
    acl url_steam_compare_api path_beg -i /user/id/
    acl url_steam_compare_api path_beg -i /ratings
    use_backend proxy_steam_compare_api if url_steam_compare_api

    acl static_server_api path_beg -i /static
    use_backend proxy_static_server_api if static_server_api
    
    acl livelong_web path_beg -i /live
    acl livelong_web path_beg -i /live/messages
    acl livelong_web path_beg -i /live/heat_prediction
    acl livelong_web path_beg -i /live/countries
    acl livelong_web path_beg -i /live/air_pollution_prediction
    acl livelong_web path_beg -i /live/about
    acl livelong_web path_beg -i /live/score
    use_backend proxy_livelong_web if livelong_web

    default_backend proxy_static_page_web

    
backend proxy_ryan_air_api
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server ryan_air_api ryan_air_api:8000 check
   
backend proxy_static_page_web
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server static_page_web static_page_web:4000 check

backend proxy_steam_compare_web
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server steam_compare_web steam_compare_web:3001 check

backend proxy_steam_compare_api
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server steam_compare_api steam_compare_api:3000 check

backend proxy_static_server_api
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server static_server_api static_server_api:5000 check

backend proxy_livelong_web
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server livelong_web livelong_web:8081 check

backend proxy_livelong_api
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server livelong_api livelong_api:8080 check

