html {
    background-color: rgb(36, 39, 41);
    font-family: 'Roboto', sans-serif;
    color: white;
}

.content {
    height: 325px;
    width: 400px;
    background-color: rgb(47, 51, 53);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, .2);
    border-radius: 5%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content div {
    flex: 1;
    width: 100%;
}

.image-container {
    width: 100%;
    height: 30%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

a {
    background-color: rgb(21, 129, 207);
    color: white;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    text-decoration: 0;

}

.button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}